.restaurant-container {
  display: flex;
  flex-direction: column;
}

.restaurant-card {
  background-color: #188754;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
}

.detail {
  background-color: white;
}

.restaurant-buttons-container {
  margin: 20px;
}