.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: red;
}

.map-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-card {
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 20px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: #0414f8;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
