.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .logo {
    margin: 20px;
  }
}

.button-card {
  margin: 5px 20px;
}

.greg-container {
  display: flex;
  justify-content: center;
  align-items: center; // Full viewport height to center vertically
}

.greg {
  width: 150px;
  margin: 25px;
}
