.search-sidebar-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 8px 0 rgba(0.2, 0.2, 0.2, 0.6);
  border-radius: 20px;
  background-color: white;

  .search-input {
    border-radius: 20px;
    border: 1px solid #21770c;
  }
}

.types-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #21770c !important;
  cursor: pointer;
}

.button.selected {
  background-color: #ff6600 !important; /* Change to your desired color */
  color: #ffffff;
}

