.search-sidebar-container {
  padding: 15px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 8px 0 rgba(0.2, 0.2, 0.2, 0.6);
  border-radius: 20px;
  background-color: white;

  .search-input {
    border-radius: 20px;
    border: 1px solid #21770c;
  }
}

.types-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 15px 10px;
  line-height: 1.5;
  @media (max-width: 768px) {
    font-size: 12px;
    padding: 12px 8px;
  }
}

.button.selected {
  background-color: #ff6600 !important;
  color: #ffffff;
}
