.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background: linear-gradient(to bottom, #25d482, #0c462b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-view {
  justify-content: center;
  align-content: flex-start;
  height: 95vh;
  background-color: #f3fff1f2;
  flex-direction: column;
  width: 80%;
  @media (max-width: 768px) {
    width: 95%; /* Set width to 90% on mobile devices */
  }
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
