.restaurant-list-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 80vh;
  padding-bottom: 10px;

  .restaurant-list {
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #188754;
    width: 75%;
    justify-content: space-evenly;
    overflow-y: auto;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
  }
}

.restaurant-list-types {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
  width: 25%;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.restaurant-button {
  margin: 0 10px 0 10px;
}
